<html>

<head>
	<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="style.css">
	

	

</head>

<body>
	
	</script>

	<!-- <div class="mainMenu">
		<svg class="burgerMenu">
            <use xlink:href="#burgerMenu"/>
        </svg>

	</div> -->
	<div id="app" class="content">

		<div class="module scheduler shadow">
			<h1>Scheduler</h1>
			<!-- <p class="isActive">running</p> -->
			<button @click="setScheduler(false)" v-if="scheduler.status == true" class="schedulerButton isOn">Stop</button>
			<button @click="setScheduler(true)" v-else class="schedulerButton isOff">Start</button>
			
		</div>
		<div class="module baseGrid sensorList">

			<h1>Sensors</h1>

			<!--iterate throug sensors[] and render for every part this sensor object-->
			<div v-for="sensor in sensors" :key="sensor.name"  class="baseItem manipulator sensor shadow">
				<h2>{{sensor.name}}</h2>
				<p>{{sensor.class}}</p>
				<p>{{sensor.collectionSize}} Einträge</p>
				
				<a class="chartLink" :href="url + 'chart.html?collection=' + sensor.collection + '&length=100'">Chart</a>
				<p v-if="sensor.active == true" class="isActive">aktiv</p>
				<p v-else class="isInActive">inaktiv</p>
			</div>


			<div class="baseItem shadow">

				<div class="addButton">+</div>

			</div>
		
			<!-- {% for param in module.params %} -->
			
			<!-- {% endfor %} -->
		
		</div>

		<div  class="module baseGrid actorList">

			<h1>Actoren</h1>

			<div v-for="actuator in actuators" :key="actuator.name" class="baseItem manipulator actor shadow">
				<h2>{{actuator.name}}</h2>
				<p>{{actuator.type}}</p>
				<p>{{actuator.collectionSize}} Einträge</p>
				
				<p v-if="actuator.active == true" class="isActive">aktiv</p>
				<p v-else class="isInActive">inaktiv</p>
			</div>

			<div class="baseItem shadow">

				<div class="addButton">+</div>

			</div>

		</div>

		<div class="module baseList logikList">

			<h1>Logik</h1>

			<div v-for="logic in logics" :key="logic.name" class="baseItem manipulator logic shadow">
			
				<div class="baseInfos" >
					<h2>{{logic.name}}</h2>
					<p>{{logic.controller.controller}}</p>
					<p v-if="logic.active == true" class="isActive">aktiv</p>
					<p v-else class="isInActive">inaktiv</p>
				</div>
				<div class="connections">
					<h3>Inputs</h3>
					<p v-for="input in logic.inputs" :key="input.input">{{input.sensor}}</p>
					
				</div>
				<div class="connections">
					<h3>Outputs</h3>
					<p v-for="output in logic.outputs" :key="output.actuator">{{output.actuator}}</p>
				</div>
				

			</div>

		</div>
		
	</div>

	<script>
		
		const { createApp } = Vue

		// const hostURL = "http://192.168.2.115:5000";
		const hostURL = "";
		createApp({
		data() {
			return {
			url : hostURL,
			message: 'Hello Vue!',
			subheadline: "This is a subheadline",
			sensors: [], // create an empty array to store the sensor data
			actuators: [], // create an empty array to store the sensor data
			logics: [], // create an empty array to store the sensor data
			scheduler: {}
		}
		},
		mounted() {
			// Call the fetchSensorData function when the Vue app is mounted
			this.fetchSystemData();
		},
		methods: {
			fetchSystemData() {
			// Fetch the sensor data from the server
			fetch(hostURL + "/systemInfo")
				.then(response => response.json()) // convert the response to JSON
				.then(data => {
				// Update the sensors array with the data from the server
				console.log("data");
				this.sensors = data.sensors;
				this.actuators = data.actuators;
				this.logics = data.logics;
				this.scheduler = data.scheduler;
				console.log("sensors: " + this.sensors);
				console.log("scheduler: " + this.scheduler.status)
			})
				.catch(error => console.error(error)); // log any errors to the console
			},

			// chreate Link to chart for base path "http://192.168.0.132:5000/chart/"


			setScheduler(status){

				if(status == true){
					var sureText = "Soll der Scheduler wirklich gestartet werden?";
				}else{
					var sureText = "Soll der Scheduler wirklich gestoppt werden?";
				}	

				if(confirm(sureText)){

					if(status == true){
						var url = hostURL + "/startScheduler";
					}else{
						var url = hostURL + "/stopScheduler";
					}

					//call url and reload page when call is successfull
					fetch(url)
						.then(response => response.json()) // convert the response to JSON
						.then(data => {
						// Update the sensors array with the data from the server
						console.log("data");
						console.log(data);
						location.reload();
					})
						.catch(error => console.error(error)); // log any errors to the console
					

				}



			}

		}
		}).mount('#app');
	  </script>

</body>

</html>
