<html>

<head>
	<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="style.css">
	

	

</head>

<body>

	<script>
		
	</script>

	<!-- <div class="mainMenu">
		<svg class="burgerMenu">
            <use xlink:href="#burgerMenu"/>
        </svg>

	</div> -->

	

	<div id="app" class="content">

		<div class="loadingOverlay" :class="{hide: !loading}">
			<p>{{info}}</p>
			<div class="loadingIcon">&#8987;</div>
		</div>

		<div class="module scheduler shadow">
			<h1>Scheduler</h1>
			<p class="status">scheduler status: {{status}}</p>
			<a style="color:red;font-weight:bold" href="/static/logs.html"><p class="error">Fehler: {{errorCount}}</p></a>
			<a style="color:orange;font-weight:bold" href="/static/logs.html"><p class="error">Warnungen: {{warningCount}}</p></a>
			<button @click="toggleScheduler">{{ buttonLabel }}</button>
			</div>
		<div class="module baseGrid sensorList">

			<h1>Sensors</h1>

			<div v-for="sensor in sensors" :key="sensor.name"  class="baseItem manipulator sensor shadow">
				
				<h2>{{sensor.name}}</h2>
				<input class="isActive" type="checkbox" v-model="sensor.active" @change="toggleSensor(sensor)"/>
                <p>{{sensor.class}}</p>
				<p>{{sensor.datastackSize}} Einträge</p>
				
				<a class="chartLink" :href="'/static/chart.html?sensor=' + sensor.name + '&avg=10&timeUnit=hour&config=lastTime&timespan=24&timespanUnit=hour'">Chart</a>				
			</div>

			<div v-for="brokenSensor in brokenSensors" :key="brokenSensor.name" class="baseItem manipulator sensor shadow">
				<h2>{{ brokenSensor.sensor.name }}</h2>
				<input class="isActive" type="checkbox" v-on:change="startBrokenSensor(brokenSensor,this)"/>
				<p>{{ brokenSensor.sensor.class }}</p>
				<p @click="brokenSensorInfo(brokenSensor)" style="color:red;font-weight:bold;cursor:pointer">Broken &#9432;</p>
			</div>


			<div class="baseItem shadow">

				<div class="addButton">+</div>

			</div>

		
		</div>

		<div  class="module baseGrid actorList">

			<h1>Actoren</h1>

			<div v-for="actuator in actuators" :key="actuator.name" class="baseItem manipulator actor shadow">
				<h2>{{actuator.name}}</h2>
				<p>{{actuator.type}}</p>
				<!-- <p>{{actuator.datastackSize}} Einträge</p> -->
				<!-- <p>{{actuator}}</p> -->
				<!-- <p v-if="actuator.active == true">state: {{ actuator.state }} </p> -->

				<div class="controllButtons" v-for="(value, key) in actuator.inputDesc" :key="key">
					<!-- <p>type: {{value['type']}}</p> -->
					<div v-if="value['type']=='bool'" class="onOff">
						<button @click="setActuatorState(actuator.name, true)" style="margin-right: 0.2rem;">On</button>
						<button @click="setActuatorState(actuator.name, false)" style="background-color: red;">Off</button>
					</div>
					<div v-if="value['type']=='int'" class="onOff">
						<input type="number" v-model="actuator.sendValue">
						<button @click="setActuatorState(actuator.name,actuator.sendValue)" type="submit">set</button>
					</div>
				</div>
				
				<a :href="'actuator.html?actuator=' + actuator.name">info</a>

				<p style="position:relative;text-align:left;color:green;right:auto"  v-if="actuator.active == true" class="isActive">aktiv</p>
				<p style="position:relative;text-align:left;color:red;right:auto" v-else class="isInActive">inaktiv</p>
			</div>

			<div class="baseItem shadow">

				<div class="addButton">+</div>

			</div>

		</div>

			<div class="module baseGrid logikList">

			<h1>Logik</h1>

			<div v-for="logic in logics" :key="logic.name" class="baseItem manipulator logic shadow">
				
				<input class="isActive" type="checkbox" v-model="logic.active" @change="toggleLogic(logic)">
				
				<div class="baseInfos" >
					<h2>{{logic.name}}</h2>
					<p>{{logic.controller.name}}</p>
					<!-- <p class="isActive">actice</p> -->
				</div>
				
				<!--if logic.inputs as elements then display them as connections. otherwise just skip-->
				<div class="connections" v-if="logic.inputs.length > 0">
					<h3>Inputs</h3>
					<p v-for="input in logic.inputs" :key="input.name">&#8594;{{input.sensor}}({{input.input}})</p>
				</div>

				<!--if logic.outputs has elements then display them as connections. otherwise just skip-->
				<div class="connections" v-if="logic.outputs.length > 0">
					<h3>Outputs</h3>
					<p v-for="output in logic.outputs" :key="output.actuator">&#8592;{{output.actuator}}</p>	
				</div>

				
				
			</div>
			<!-- <div class="baseItem shadow">

				<div class="addButton">+</div>

			</div> -->

		</div>
		
	</div>

	<script>
		
		const { createApp } = Vue

		createApp({
		data() {
			return {
			loading: true,
			message: 'Hello Vue!',
			subheadline: "This is a subheadline",
			status: "not received",
			sensors: [], // create an empty array to store the sensor data
			actuators: [], // create an empty array to store the sensor data
			logics: [], // create an empty array to store the sensor data
			brokenSensors: [],
			brokenActuators: [],
			brokenLogics: [],
			errorCount: 0,
			error: [],
			warningCount: 0,
            info : "Das System lädt gerade noch, einen moment Geduld bitte",
			}
		},
		mounted() {
			// Call the fetchSensorData function when the Vue app is mounted
			this.fetchSystemData()
			// this.getErrors()
		},
		methods: {
			fetchSystemData() {
				// Fetch the sensor data from the server
				fetch("/systemInfo")
					.then(response => response.json()) // convert the response to JSON
					.then(data => {
					// Update the sensors array with the data from the server
					console.log("data");
					this.status = data.status;
					this.buttonLabel = (this.status === "ready" ? "Start" : "Stop");
					

					if(this.status == "broken"){
                        this.errorCount = data.errorCount;
                        this.info = data.info;
                        //dont call function again
                        return;
                    }

                    if(this.status == "setup"){
                        this.info = data.info;
                        //call function again after 2 seconds
                        setTimeout(this.fetchSystemData, 2000);
                        console.log("rufe systemInfo erneut in 2 sekunden auf");
                        console.log("data:", data);
                        return;
                    }

                    this.sensors = data.sensors;
					this.actuators = data.actuators;
					this.errorCount = data.errorCount;
					this.warningCount = data.warningCount;
                    this.info = data.info;

					for (let i = 0; i < this.actuators.length; i++) {
						this.actuators[i].activeStr = this.actuators[i].active ? "active" : "inactive";


						for (let key in this.actuators[i].inputDesc) {
							if (this.actuators[i].inputDesc.hasOwnProperty(key)) {
								var actuator = this.actuators[i]
								var inputType = this.actuators[i].inputDesc[key].type;
								switch(inputType){
									case "<class 'bool'>":
										actuator.inputDesc[key].type = "bool";
										break;
									case "<class 'int'>":
										actuator.inputDesc[key].type = "int";
										actuator.sendValue = actuator.config.defaultValue;
										break;
									default:
										console.log("inputType nicht bekannt:")
								}
							}
						}
					}
					this.logics = data.logics;

					this.brokenSensors = data.brokenSensors;
					this.brokenActuators = data.brokenActuators;
					this.brokenLogics = data.brokenLogics;

					console.log("sensors: " + this.sensors);

					this.loading = false; // hide the loading message
					})
				.catch(err => {
					// if an error occurs, set the error variable with the error message
					this.error = err;
					this.info = "Upps, da ist ein Fehler unterlaufen, naja probieren wir es nochmal in 2 Sekunden.";
					//call function again after 2 seconds
					setTimeout(this.fetchSystemData, 2000);
				});
			},

			//request errors from the server
			// async getErrors() {
			// 	try {
			// 		const response = await fetch("/getErrors");
			// 		const data = await response.json();
			// 		console.log(data);
			// 		if (data.success !== true) {
			// 			this.error = data;
			// 			this.errorCount = data.length;
			// 		} else {
			// 			this.error = null;
			// 		}
			// 	} catch (error) {
			// 		this.error = error.message;
			// 		alert(error);
			// 	}
			// },

			async setActuatorState(name, state) {
				try {
					url = "/setActuator?actuator=" + name + "&state=" + state;
					const response = await fetch(url);
					const data = await response.json();
					if (data.success !== true) {
						this.error = data.error;
						alert(this.error);
					} else {
						this.error = null;
					}
				} catch (error) {
					this.error = error.message;
					alert(error);
				}
			},
	
			brokenSensorInfo(brokenSensor){
				alert(brokenSensor.error);
			},

            startBrokenSensor(brokenSensor, checkbox) {
                // ask if the user wants to start the sensor
                if (confirm("Möchtest du den Sensor " + brokenSensor.sensor.name + " starten? Dies kann ggf, etwas dauern.")) {
                    fetch("/startBrokenSensor?sensor=" + brokenSensor.sensor.name);
                    //reload page
                    location.reload();
                }
            },

			toggleScheduler(){
				if(this.status == "ready")
					var callUrl = "/startScheduler";
				else
					var callUrl = "/stopScheduler";

				fetch(callUrl)
				.then(response => response.json()) // convert the response to JSON
				.then(data => {
					console.log(data);
					if(data["success"] == true){
						//reload page
						location.reload();
					}
					else{	
						alert("Fehler beim starten des Schedulers: " + data["error"]);
						//uncheck the checkbox
						location.reload();
					}
				});
			},

			toggleLogic(logic){
				setState = logic.active;
				console.log("toggleLogic: " + logic.name + " to " + setState);
				if(this.status != "broken"){
					if(confirm("Möchtest du die Logik " + logic + " auf " + setState + "setzen?"))
						fetch("/setLogic?logic=" + logic.name + "&state=" + setState)
						.then(response => response.json()) // convert the response to JSON
						.then(data => {
							console.log(data);
							if(data["success"] == true){
								//reload page
								location.reload();
							}
							else{	
								alert("Fehler beim setzen des Logik-Status: " + data["error"]);
								//uncheck the checkbox
								location.reload();
							}
						});
				}
			
			
			},

			toggleSensor(sensor){
				setState = sensor.active;
				console.log("toggleSensor: " + sensor.name + " to " + setState);
				if(this.status != "broken"){
					if(confirm("Möchtest du den Sensor " + sensor.name + " auf " + setState + "setzen?"))
						fetch("/setSensor?sensor=" + sensor.name + "&state=" + setState)
						.then(response => response.json()) // convert the response to JSON
						.then(data => {
							console.log(data);
							if(data["success"] == true){
								//reload page
								location.reload();
							}
							else{	
								alert("Fehler beim setzen des Sensors: " + data["error"]);
								//uncheck the checkbox
								location.reload();
							}
						});
				}
			}

		}
		}).mount('#app');
	  </script>

</body>

</html>
